*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
div{
    border: 1px;
    margin: auto;
    border: 1px pink solid;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    text-decoration: none;
}
/*IDS*/
#img-filme{
    width: 50%;
    height: 100%;
    display: inline-block;
    border: 1px red solid;
    text-align: initial;
}
#cont{
    width: 700px;
    height: 500px;
    text-align: center;
}
/*Classes*/
.titulo-principal{
    width: 1000px;
    height: 200px;
    text-align: center;
    margin: auto;
}
.Im{
    width: 100%;
    height: 100%;
    text-align: top;
}
.nome-filme{
    
}
.tabela-pr li{
    display: inline-block;
}
.conteudo-direita{
    width: 48%;
    height: 100%;
    display: inline-block;
}
.infor{
    text-align: justify;
    
}
.infor li{
    text-align: left;
}
.sinopse{
    text-align: justify;
}
.baner{
    text-align: top;
}
.filme{
    padding: 70px;
}